@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto';
}

#topBanner {
    background-color: white;
    height: 85px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topBanner img {
    height: 80px;
}

