@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto';
    display: felx;
}

#topBanner {
    background-color: white;
    height: 85px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#topBanner img {
    height: 80px;
}

.hero {
    display:flex;
    background-color: #1F2937;
}

.hero>div {
    color: white;
}

.hero>div h1 {
    font-size: 48px;
}